#containerG {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: white;
    gap: 10px;
    flex-wrap: wrap;
}

#form-createLogin {
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 300px;
    background: white;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 1px 1px 10px 1px;
}

#form-createLogin #input {
    position: relative;
    width: 250px;
}
#form-createLogin #input input{
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(0, 149, 255);
    border-radius: 10px;
    outline: none;
    color: black;
    font-size: 120%;
    transition: 0.5s;
}
#form-createLogin #input span{
    position: absolute;
    left: 0;
    transform: translateY(-40px);
    padding: 10px;
    pointer-events: none;
    color:rgb(0, 149, 255);
    text-transform: uppercase;
    transition: 0.5s;
}
#form-createLogin #input input:valid ~ span,
#form-createLogin #input input:focus ~ span
{
    color:rgb(102, 233, 50);
    transform: translateX(10px) translateY(-7px);
    font-size: 70%;
    padding: 0 10px;
    background: white;
    border-left: 1px solid #2cd632;
    border-right: 1px solid #2cd632;
}
#form-createLogin #input:nth-child(1) input:valid ~ span,
#form-createLogin #input:nth-child(1) input:focus ~ span{
    background: #2cd632;
    border-radius: 2px;
    color: black;
}
#form-createLogin #input:nth-child(2) input:valid ~ span,
#form-createLogin #input:nth-child(2) input:focus ~ span{
    background: #2cd632;
    border-radius: 2px;
    color: black;
}
#Send{
    border: 2px solid black;
    background-color: white;
    cursor: pointer;
    border-color: #2cd632;
    color: green;
    border-radius: 5px;
    padding: 10px;
}
#Send:hover{
    background: #2cd632;
    color: white;
}
#form-createLogin #input input:valid,
#form-createLogin #input input:focus{
    border:1px solid #2cd632;
}